In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('resources/ZawajDataset.csv')
df.head()

,MarriageContractID,ReferenceIDFromMOj,SendingContractToCourtDate,RetryCount,ContractDate,ContractConfirmedDate,DowryInKindDelyedDate,BeforeWeddingDowryInKindDelyedDate,UpdatedAt,MarriageContractStatusID,...,DowryInKindDelayed,BeforeWeddingFinancialDowryDelayDate,husbandNIN,HusbandMobile,HusbanName,WifeName,wifeNIN,DOB,Authname,AuthMobile
0,1,NaN,NaN,NaN,21-05-2019 18:00,NaN,NaN,NaN,21-05-2019 14:03,8,...,NaN,NaN,1089114308,966555333541,سلمان محمد مصطفى السوادي,رفعه عبدالله سعيد الشهراني,1035369337,1964-11-05,عبدالعزيز عايض عون المطيري,555336693.0
1,2,NaN,NaN,NaN,21-05-2019 23:00,NaN,NaN,NaN,22-05-2019 23:08,8,...,NaN,NaN,2081075943,966554495581,ياسر عمار محمد فتحي خلف,ياسمين - - القواسمه,2045390867,1988-01-01,عبدالعزيز عايض عون المطيري,555336693.0
2,3,1257409.0,NaN,NaN,23-05-2019 21:00,NaN,NaN,NaN,03-07-2019 00:37,6,...,NaN,NaN,1070603368,550112123,ممدوح مطر بن خلف العنزي,ريم عبدالله نازل العنزي,1107591040,2000-04-23,مرجي سليمان هليل العنزي,503400543.0
3,4,1257403.0,51:58.3,NaN,22-05-2019 18:00,11-02-2020 07:51,NaN,NaN,11-02-2020 07:51,6,...,NaN,NaN,2286891011,535508999,طارق احمد عبد المجيد,ساره - - المسلط,2158803235,2000-01-01,عبدالعزيز عايض عون المطيري,555336693.0
4,5,NaN,NaN,NaN,04-06-2019 19:00,NaN,NaN,NaN,05-06-2019 19:08,8,...,NaN,NaN,1066113190,966557732205,زياد مطلق غريب الظفيري,نجاح فهد ابن غريب الظفيري,1093025383,1996-08-31,مرجي سليمان هليل العنزي,503400543.0

In [5]:
df.ReferenceIDFromMOj.isna().sum(),len(df)

(458, 1502)

In [7]:
# create new dat frame from origin
new_df=df[['MarriageContractID','ContractDate','MarriageContractStatusID']]
new_df.head()

   MarriageContractID      ContractDate  MarriageContractStatusID
0                   1  21-05-2019 18:00                         8
1                   2  21-05-2019 23:00                         8
2                   3  23-05-2019 21:00                         6
3                   4  22-05-2019 18:00                         6
4                   5  04-06-2019 19:00                         8

In [12]:
#get the first row
new_df.loc[0]

MarriageContractID                         1
ContractDate                21-05-2019 18:00
MarriageContractStatusID                   8
Name: 0, dtype: object

In [13]:
#get get specific value in row and column
new_df.loc[0,'MarriageContractID']# 0 is the first row and 'MarriageContractID' for the column name

1

In [17]:
#iloc take only integers as index
new_df.iloc[0,1]# 0 for the first row and 1 for the secod column (ContractDate)

'21-05-2019 18:00'